<html>
<body>
<h1> this testing </h1>
<br>
    my age is {{b}}
    my topic is {{c}}
<br>
<form method='post' action=''>
    {% csrf_token%}
        <label for='age'>Age:</label><br>
        <input type='text' id='age' name='age'><br>
        <label for='topic'>Topic:</label><br>
        <input type='text' id='topic' name='topic'><br>
        <label for='college'>College:</label><br>
        <input type='text' id='college' name='college'><br>
        <label for='school'Sschool:</label><br>
        <input type='text' id='school' name='school'><br>
        <label for='rollno'>Rollno:</label><br>
        <input type='text' id='rollno' name='rollno'><br>
        <br>
        <input type='submit' value='submit'>
</form>

    